body{
background-color: yellow;
margin-top: 0px;


}


.container{
    width: 80%;
    background-color:#ffffff;
    margin: auto;

}
#timer{
    font-size: 25px;
    color: red;
    text-align: center;
}

#triviaGames{
    font-size: 30px;
    text-align: center;
}


#firstRow{
    background-color:lightgrey;
   

}

#left,#right {
    background-color:lightgrey;
}

#lastRow {
    background-color:lightgrey;
}

#p1h2{
    text-align: center;
    font-size: 50px;
}
#beginTest{
width: 400px;
height: 300px;

}
#start{
    font-size: 50px;
    text-align: center;
}

#result{
    background-color: white;
}
label{
    color:red;
    font-size: 20px;
}